<h1>All Excavations</h1>

<table>
  <thead>
    <tr>
      <td>Excavation Name</td>
      <td>Total Cost</td>
  </thead>
  <tbody>
    <% @excavations.each do |excavation| %>
    <tr class="excavation-row" id="<%= dom_id(excavation) %>">
      <td class="name"><%= excavation.name %></td>
      <td class="total-cost"><%= excavation.total_cost %></td>
    </tr>
    <% end %>
  </tbody>
</table>
